:root {
    --principal: rgb(0, 29, 67);
    --secundario: rgb(124, 169, 202);
    --navegacion: rgb(33, 79, 118);
    --footer: rgb(124, 169, 202);
    --negro: #000;
    --blanco: #fff;
    --gris_clarito: #ECECEC;
    --fuente_principal: 'Hanken Grotesk', sans-serif;
    --fuente_secundaria: 'Questrial', sans-serif;
}

main {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.certificados {
    width: 50%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

main h2 {
    font-size: 35px;
    margin-left: 10px;
}

.certificados ul {
    font-size: 22px;
}

.certificados ul li {
    list-style-type: none;
    display: flex;
    justify-items: center;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 7px;
    color: rgb(230, 230, 230);
}

.decoracion {
    width: 30px;
}

.descripcion {
    display: flex;
    width: 20em;
    height: 20em;
    background-color: var(--navegacion);
    border-radius: 50%;
    text-align: center;
    align-items: center;
    font-size: 25px;
}