:root {
    --oscuro: #134169;
    --claro: #325579;
    --letra: #EDF0DE;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0;
}

header {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 170px;
    background-color: var(--claro);
    justify-content: center;
}

#links {
    display: flex;
    width: 80%;
}

#logo_untdf {
    align-content: end;
    width: 25%;
    margin-bottom: 30px;
    margin-left: 20px;
}

#logo_untdf a > img {
    max-width: 120px;
}

#borde {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--oscuro);
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

#logo_pea {
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
}

#logo_pea a img {
    width: 120px;
}

#iconos {
    width: 30%;
    align-content: end;
    margin-bottom: 30px;
}

#iconos a img {
    height: 50px;
}

nav {
    position: absolute;
    top: 140px;
    width: 80%;
    border-radius: 20px 20px / 30px 30px;
    height: 50px;
    background-color: #134169;
    margin: 0;
    display: block;
    color: var(--letra);
    align-content: center;
    z-index: 1;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

nav ul li {
    list-style-type: none;
    font-size: 25px;
}

a:hover {
    cursor: pointer;
    color: #899be4;
}

.separacion {
    height: 30px;
    width: 3px;
    background-color: var(--letra);
}