/* Media query para pantallas con ancho menor a 600px */
@media (max-width: 1120px) {
}
main {
    display: flex;
    height: 405px;
    padding: 45px 30px;
}
.noticia {
    margin: 0;
    margin-right: 20px;
    width: auto;
    height: 300px;
    background-color: var(--secundario);
}
.noticia img {
    width: auto;
    height: 300px;
}
.calendario {
    display: block;
    height: 300px;
    width: 300px;
    background-color: var(--blanco);
    margin: 0 20px;
}
.institutos {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin: 0;
    margin-left: 20px;
    justify-content: right;
}
.institutos a {
    height: 60px;
}
.institutos img {
    height: 60px;
}